<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employee Details</title>

    <style>
        body {
            font-family: Arial;
            background-color: #f4f4f4;
        }

        .card {
            width: 400px;
            margin: 80px auto;
            padding: 20px;
            background: white;
            border-radius: 8px;
            box-shadow: 0 0 10px gray;
        }

        h2 {
            text-align: center;
        }

        p {
            font-size: 18px;
        }
    </style>
</head>

<body>

<div class="card">

    <h2>Employee Details</h2>

    <p><b>ID:</b> <span th:text="${employee.id}"></span></p>

    <p><b>Name:</b> <span th:text="${employee.name}"></span></p>

    <p><b>Department:</b> <span th:text="${employee.department}"></span></p>

    <p><b>Salary:</b> ₹<span th:text="${employee.salary}"></span></p>

</div>

</body>
</html>
